@model BrewCityRentals.Models.Movie

<h2>Search Movies</h2>

<form>
    <div class="form-group">
        @Html.LabelFor(model => model.Title)
        @Html.EditorFor(model => model.Title)
    </div>
</form>